.customers-table {
    width: 600px;
    border-collapse: collapse;
}

.customers-table th,
.customers-table td {
    border: 1px solid #ddd;
    padding: 8px 12px;
}

.list__item__customerID__hash {
    color: var(--primary-color);
    font-weight: bold;
}

.customers-list__cell-add-transaction {
    font-size: 16px;
    text-decoration: none;
    color: lightcoral;
    font-weight: bold;
}

.no-customers-message {
    opacity: 0.7;
    color: gray;
    text-align: center;   
}