
.top-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.top-navigation button {
    border: none;
    outline: none;
    
    background-color: transparent;
    padding: 20px;
    font-size: 18px;

    cursor: pointer;
}

.top-navigation button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.top-navigation__title {
    margin-right: auto;
    padding: 0px 20px;

    font-weight: bold;
    font-size: 28px;
    color: var(--primary-color);
}