.get-reward-points__page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;

    width: 380px;
}

.get-reward-points__input-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.get-reward-points__input-container label {
    width: max-content;
}

.get-reward-points__page-content button {
    border: none;
    border-radius: 5px;

    background-color: var(--primary-color);

    padding: 12px 16px;
    margin: auto;

    color: white;
    font-size: 20px;
    cursor: pointer;
}

.get-reward-points__page-content button:hover {
    opacity: 0.8;
}

.get-reward-points__page-content button:disabled {
    opacity: 0.6;
    cursor: auto;
}

.reward-points span {
    color: var(--primary-color);
}